

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap");




.root, 
#root {
  --primary: #150E28;
  --secondary: linear-gradient(#903AFF 100%, #FE34B9 100%);
  --contrast:  #903AFF;
  --accent: #D434FE;
}

.required{
  @apply text-red-500 text-xs italic;
}